@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

:root {
  --primary-color: #7ba273;
  --primary-text-color: white;
  --secondary-text-color: #a5a3a3;
}

body,
html {
  height: 100vh;
}

html {
  font-size: 13px;
}

body {
  font-family: Inter, sans-serif;
  background-color: black;
  color: white;
}

img {
  width: 100%;
}

a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.title {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: -0.4rem;
}

/* Layout */
.content {
  width: 900px;
  margin: 0 auto;
  display: grid;
  grid-auto-columns: 15%, auto;
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 20px;
  grid-template-areas:
    "top         top"
    "left        right";
}

.top {
  grid-area: top;
  gap: 20px;
  display: grid;
  grid-auto-columns: minmax(10px, auto);
  grid-auto-rows: minmax(10px, auto);
  grid-template-areas: "profileimg profile";
  margin-bottom: -3.1rem;
}

.left {
  grid-area: left;
}
.right {
  grid-area: right;
}

/* Top Styles */

.profileimg {
  grid-area: profileimg;
  max-width: 200px;
  width: auto;
  height: auto;
  margin-bottom: -1.8rem;
  margin-right: -1.5rem;
}

.profile {
  grid-area: profile;
  display: flex;
  flex-direction: column;
}

.profile_name_firstName {
  color: White;
  font-weight: 200;
  font-size: clamp(2rem, 8vw, 4rem);
  text-transform: uppercase;
  display: block;
  margin-bottom: -1.8rem;
}

.profile_name_lastName {
  color: var(--primary-color);
  font-weight: 700;
  font-size: clamp(2.5rem, 15vw, 7rem);
  text-transform: uppercase;
  display: block;
  margin-bottom: -2.8rem;
}

.profile_title {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: -0.3rem;
  margin-left: 2.5rem;
}

.profile_description {
  color: var(--secondary-text-color);
  margin-left: 2.5rem;
}

/* Side Styles */

.item_title {
  margin-bottom: 0.3rem;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
}

.item_preTitle,
.item_subtitle {
  margin: 0;
  color: var(--secondary-text-color);
}

.certificate_date {
  color: var(--secondary-text-color);
  margin-bottom: 0rem;
}

.certificate_item {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: -1.8rem;
}

.social_item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
}

/* Experience Styles */

.experience {
  margin-left: -11rem;
}
.experience_details {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: -1.2rem;
}

.experience_jobTitle {
  margin-bottom: -0.8rem;
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}

/* Responsive Styling */

@media (max-width: 768px) {
  .content {
    width: auto;
    grid-gap: 0.5em;
    grid-auto-columns: 100%;
    grid-template-areas:
      "top"
      "left"
      "right";
  }
  .top {
    grid-gap: 0.5em;
    grid-auto-columns: 100%;
    grid-template-areas:
      "profileimg"
      "profile";
  }
  .description {
    word-wrap: break-word;
  }
}
