@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

:root {
  --primary-color: #7ba273;
  --primary-text-color: white;
  --secondary-text-color: #a5a3a3;
}

body,
html {
  height: 100vh;
}

html {
  font-size: 12px;
}

body {
  font-family: Inter, sans-serif;
  background-color: black;
  color: white;
}

img {
  width: 100%;
}

a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.title {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

/* Layout */
.content {
  width: 900px;
  margin: 0 auto;
  display: grid;
  grid-auto-columns: 20%, auto;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 0.5em;
  grid-template-areas:
    "top         top"
    "left        right";
}

.top {
  grid-area: top;
  padding: 0.5em;
  gap: 0.5em;
  display: grid;
  grid-auto-columns: minmax(100px, auto);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: "profileimg profile";
}

.left {
  grid-area: left;
  padding: 0.5em;
}
.right {
  grid-area: right;
  padding: 0.5em;
}

/* Top Styles */

.profileimg {
  grid-area: profileimg;
  max-width: 250px;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.profile {
  grid-area: profile;
  display: flex;
  flex-direction: column;
}

.profile_name_firstName {
  color: White;
  font-weight: 200;
  font-size: clamp(2rem, 8vw, 4rem);
  text-transform: uppercase;
  display: block;
  margin-bottom: -0.8rem;
}

.profile_name_lastName {
  color: var(--primary-color);
  font-weight: 700;
  font-size: clamp(2.5rem, 15vw, 7rem);
  text-transform: uppercase;
  display: block;
}

.profile_title {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.profile_description {
  color: var(--secondary-text-color);
}

/* Side Styles */

.item_preTitle,
.item_subtitle {
  margin: 0;
  color: var(--secondary-text-color);
}

.certificate_item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.social_item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

/* Experience Styles */

.experience_details {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  gap: 0.5em;
}

/* Responsive Styling */

@media (max-width: 768px) {
  .content {
    width: auto;
    grid-gap: 0.5em;
    grid-auto-columns: 100%;
    grid-template-areas:
      "top"
      "left"
      "right";
  }
  .top {
    grid-gap: 0.5em;
    grid-auto-columns: 100%;
    grid-template-areas:
      "profileimg"
      "profile";
  }
  .description {
    word-wrap: break-word;
  }
  .profileimg {
    max-width: 100px;
    width: 100%;
  }
}
